body{
    background-image: url("imgs/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    background-position: center center;
    background-attachment: fixed;
    color: white;
}
.mainhead{
    font-family: 'Hind', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bold;
}
.mainhead .heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hotpink;
    font-size: 2.5em;
}
#add{
    /* color: white; */
    font-size: 1.5em;
    /* border-radius: 100%; */
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 50px;
    background-color: hotpink;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}
#add:hover{
	opacity: 0.7;
}
#to-do{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
    font-size: 1.15rem;
    margin-bottom: 2%;
}
#itm-todo{
    background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}
.dlt{
    background: none;
	outline: none;
	border: none;
	color: yellow;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
    cursor: pointer;
    font-weight: bold;
    
}
.edit{
    background: none;
	outline: none;
	border: none;
	color: cyan;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	margin: 0 0.5rem;
    cursor: pointer;
    font-weight: bold;
}
.item{
    padding: 0.5rem;
	border-bottom: 4px solid #fff;
    margin-bottom: 1.5rem;
    margin-left: 25%;
    margin-right: 25%;
}

@media (max-width:680px){
    .mainhead{
        margin-top: 10px !important;
    }
    #to-do{
        width: 200px;
    }
    .dlt{
        font-size: 0.8rem;
    }
    .edit{
        font-size: 0.8rem;

    }
    .item{
        margin-left: 10px;
        margin-right: 10px;
    }
    #itm-todo{
        width: 150px;
    }
}