body{
    background-image: url("imgs/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    background-position: center center;
    background-attachment: fixed;
}
.mainhead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 2em;
}
.mainhead .heading{
    color: cornflowerblue;
    font-size: 2.5em;
}
.add{
    color: white;
    font-size: 2em;
}